img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
   display: inline;
   vertical-align: baseline;
   /* overridge  tailwind icon default */
}
body {
   font-family: "Roboto", sans-serif;
}
i {
   display: block !important;
}
